<!DOCTYPE html>
<html lang="en">
<head>
    {%  block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    <title>N2T {% block title %}{% endblock %}</title>
    <link href="{{ relurl_for('static', path='/style.css') }}" rel="stylesheet">
    {% block addstyle %}
    {% endblock %}
    <script type="module" src="https://unpkg.com/gh-corner-wc/gh-corner.js?module">
    </script>
    {%  endblock %}
</head>
<body>
{%  block body %}
<gh-corner user="CDLUC3" repo="ARKS" position="right"></gh-corner>
<header>
    {% block header %}
        <p><a href="/">ARKS</a> service {% block headertext %}{% endblock %}</p>
    {% endblock %}
</header>
<main>
    {%  block main %}
    <h1>ARKS - ARK Identifier Resolution Service</h1>
    <div>
    <p><code>ARKS</code> is an ARK identifier resolver that given a provided ARK identifier,
        matches it to a registered ARK NAAN (prefix) definition. Depending on the form of the request,
        a successful match will either redirect to the registered target, or present
        information about the matched definition.</p>
    <p>Identifiers take the form:</p>
    <pre>
ark:prefix/value
    </pre>
        <p>The service API description is available at <a href="/api">/api</a>.</p>
        <p>A list of schemes registered with this service is available on the <a href="/_schemes.html">schemes page</a>.</p>
        <p>A list of prefixes registered with this service is available on the <a href="/_prefixes.html">schemes page</a>.</p>
    </div>
    {% endblock %}
</main>
<footer>N2T, {{ environment }} environment, version {{ version }}</footer>
{% endblock %}
{% block addendum %}
{% endblock %}
</body>
</html>
