{% extends "base.html" %}
{% block title %}Home{% endblock %}
{%  block main %}
    <h1>ARKS - ARK Identifier Resolution Service</h1>
    <div>
    <p><code>ARKS</code> is an ARK identifier resolver that given a provided ARK identifier,
        matches it to a corresponding identifier definition. Depending on the form of the request,
        a successful match will either redirect to the registered target or present
        information about the matched definition.</p>
    <p>Identifiers take the form:</p>
    <pre>
ark:prefix/value
    </pre>
        <p>The service API description is available at <a href="/api">/api</a>.</p>
        <p>The registered schemes are listed on the <a href="/_schemes.html">schemes page</a>.</p>
    </div>
{%  endblock %}
