{
  "listeners": {
    "*:18880": {
      "pass": "routes/arksorg"
    }
  },
  "applications": {
    "rslv": {
      "type": "python 3.11",
      "working_directory": "{{ deploy_dir }}",
      "path": ["{{ deploy_dir }}/arks"],
      "home": "{{ python_home }}",
      "module": "arks.app",
      "callable": "app",
      "environment": {
        "ARKS_SETTINGS":"/apps/ezid/arksorg/cdl-config.env"
      }
    }
  },
  "routes": {
    "arksorg": [
      {
        "match": {
          "uri": [
            "~/\\.info.*",
            "~/api.*",
            "~/([A-Za-z0-9\\/;.\\-]+(:|%3A).*)"
          ]
        },
        "action": {
          "pass": "applications/rslv"
        }
      },
      {
        "match": {
          "uri": [
            "/*"
          ]
        },
        "action": {
          "share": "{{ deploy_dir }}/site/$uri"
        }
      }
    ]
  },
  "access_log": {
    "path": "/var/log/unit/access.log"
  }
}
